[Desktop Entry]
Name=Shroudbyte
Comment=A custom Linux web browser
Exec=/home/blaine/Shroudbyte/shroudbyte.sh
Type=Application
Categories=Network;WebBrowser;
Icon=/home/blaine/Shroudbyte/shroudbyte-icon.svg
Terminal=false
StartupNotify=true
